button{
    background-color: blue;
}
button:hover{
    background-color: green;
}
.header{
    margin-right: 1000px;
    display: flex; 
    margin-bottom: 500px;
}
img{
    height: 200px;
    margin: 40px;
    margin-bottom: 20px;
}
body{
    background-color:aqua;
}
